/__pycache__/
/fortran_original_working/
/temp_dir_old/
/temp_dir/


/fortran/wIndices0
/fortran/wIndices1
/fortran/wIndices2
/fortran/wIndices3

/fortran/test_input_out_0.txt
/fortran/test_input_lists.txt
/fortran/test_input_out_1.txt
/fortran/test_input_out_final.txt

/update_distory.dat
/update_history.dat

/OMNI_W1_W6.dat
